body { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: khaki;}

h1 { color: aquamarine;
text-align: center;
background-color: lavenderblush;}

p {color: darkgreen;
text-align: center; 
text-shadow: darkslategray;
background-color: lightcyan;}

a {color: coral;
}