body {background: lightpink;
}
h1 {background-color: lightsalmon;
color: midnightblue;
}
p {text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: oldlace; 
color: rebeccapurple;
}
